button {
  background: transparent;
  border: none;
  cursor: pointer;

  &.button-submit {
    background-color: var(--green-100);
    border-radius: 0.8rem;
    padding: 1.6rem 2rem;

    /* text */
    color: white;
    font: inherit;
    font-weight: var(--bold);

    &:hover {
      background-color: var(--green-200);
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &[aria-label="Remover item"] {
    border-radius: 0.4rem;
    padding: 0.4rem;
    width: 2rem;
    height: 2rem;

    background: url(../assets/icons/remove.svg) no-repeat center;

    &:hover {
      background-color: var(--gray-400);
    }
  }
}

label {
  font: var(--label);
  text-transform: uppercase;
}

select {
  appearance: none;
  background: url(../assets/icons/caret-down-default.svg) no-repeat center right
    1.6rem;

  & option {
    &:checked {
      font-weight: bold;
    }
  }

  &:invalid {
    color: var(--gray-200);
  }

  &:focus {
    background: url(../assets/icons/caret-up.svg) no-repeat center right 1.6rem;
  }
}

/* Global styles for input and select */
input,
select {
  background-color: transparent;
  border: 1px solid var(--gray-300);
  border-radius: 0.8rem;
  outline: 0.5px;
  padding: 1.6rem;
  width: 100%;
}

.input-field {
  display: grid;
  gap: 0.8rem;

  &:has(input:focus),
  &:has(select:focus) {
    & label {
      color: var(--green-100);
      font-weight: var(--bold);
    }

    & input,
    & select {
      border: 1.5px solid var(--green-100);
      outline: none;
    }
  }
}
